<header>
    <center><h1>Information retrieval</h1></center>
</header>

<body>
    <center>
    <form action = "http://localhost:5000/search" method = "post">
        Input: <input type="text" name="input"><br>
        <input type="Submit" value="Simple search" name='submit'><br>
        <input type="Submit" value="Rank search" name='submit'>
        <input type="Submit" value="VSM search" name='submit'><br>
        <input type="Submit" value="Phrase search" name='submit'>
        <input type="Submit" value="Distance phrase search" name='submit'>
    </form>
    </center>
</body>